.icon-pic {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 100px;
}

.title {
	margin-top: 100px;
	align-items: center;
	justify-content: center;
	display: flex;
}

.wrapper {
	display: grid;
	grid-template-columns: 30% 70%;
}
