.icon-pic {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 100px;
}

.top-info {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.title {
	margin-top: 100px;
	align-items: center;
	justify-content: center;
	display: flex;
}

.wrapper {
	display: grid;
	grid-template-columns: 30% 70%;
}

.visit-container {
	display: flex;
	text-align: center;
	border-radius: 25px;
	border: 5px solid #edeeeb;
	flex-direction: column;
	padding: 20px;
	margin: 5px;
	vertical-align: middle;
}

.wish-container {
	display: flex;
	text-align: center;
	border-radius: 25px;
	border: 5px solid #edeeeb;
	flex-direction: column;
	padding: 20px;
	margin: 5px;
	vertical-align: middle;
}
