.main {
	margin-top: 15%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.container {
	display: flex;
	justify-content: center;
}

.input-field {
	margin-top: 20px;
	width: 300px;
	height: 30px;
	font-size: 16px;
	padding-left: 10px;
}

.park-state:hover {
	color: red;
	flex-grow: 1;
}

.park-state {
	color: white;
	text-align: center;
	flex-grow: 1;
}

.park-state-wish {
	color: black;
	flex-grow: 1;
}

.park-state-visit {
	color: black;
	flex-grow: 1;
}

.park-state-wish:hover {
	color: red;
	flex-grow: 1;
}

.park-state-visit:hover {
	color: red;
	flex-grow: 1;
}

.card-all {
	display: flex;
	text-align: center;
	border-radius: 25px;
	border: 5px solid #edeeeb;
	flex-direction: column;
	padding: 20px;
	margin: 5px;
	vertical-align: middle;
}

.all {
	background-color: darkgoldenrod !important;
}

.wish {
	background-color: rgb(255, 255, 0) !important;
}

.visit {
	background-color: green !important;
}

.search-bar {
	text-align: center;
	margin-bottom: 20px;
}

.button-list {
	margin-bottom: 20px;
}
